* {
    font-family: 'PT Sans', sans-serif; 
}


body {
    position: relative;
    background:  #EDE2F0;
    color: #7E6687;
    justify-content: center;
    display: grid;

}

main {
    margin: 50px 0 0 50px;
  
}

.content-title {
    display: flex;
    align-items: center;
    padding: 0 0 100px 0;
}

.logo{
    width: 100px;
    height: 100px;

}

label {
    display: inline-block;
    font-size: 23px;
    
}

.content-flex {
    display: flex;
}

.content-section {
    align-items: center;
}

.caja-texto {
    width: 577px;
    height: 300px;
    top: 0;
    left: 240px;
    background: #E7DEEA;
    border: 1px solid #BAACBF;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 145px -62px rgba(92,83,92,0.81);
    
}

.margin {
    margin-left: 150px;
}

.letras {
    width: 205px;
    height: 18px;
    left: 24px;
    opacity: 80%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 30px;
}   

.flex-center {
    justify-content: center;
    display: flex;
}


.boton-encriptar, .boton-desencriptar {
    width: 150px;
    padding: 10px;
    /*margin-left: 70px;*/
    font-size: 18px;
    font-weight: bold;
    color: #7E6687;
    background: #C4AECB;
    border: 1px solid #ABA1AF ;
    border-radius: 10px;
    cursor: pointer;

}

.boton-copiar {
    width: 150px;
    padding: 10px;
    /*margin-left: 430px;*/
    font-size: 18px;
    font-weight: bold;
    color: #7E6687;
    background: #CFC1D5;
    border: 1px solid #ABA1AF ;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    margin: 50px 0 0 50px;
    padding: 60px 0 0 0;
    font-size: 10px;
    text-align: center;
}

.icono {
    max-width: 30px;
    max-height: 30px;
}

/* 
**************************************
*********** MEDIA QUERY **************
**************************************
*/

@media screen and (max-width: 961px) and (min-width: 566px)  {
    body {
        position: relative;
        width: 1440px;
        height: 1024px;
        background:  #EDE2F0;
        font-family: 'PT Sans', sans-serif;
        color: #7E6687;
        justify-content: center;
    
    }
    
    main {
        margin: 50px 0 0 50px;
      
    }
    
    .content-title {
        align-items: center;
        padding: 0 0 100px 0;
    }
    
    .logo{
        width: 100px;
        height: 100px;
    
    }
    
    label {
        display: inline-block;
        font-size: 23px;
        
    }

    .content-flex {
        display: block;
    }
    
    .content-section {
        align-items: center;
    }
    
    .caja-texto {
        width: 577px;
        height: 300px;
        top: 0;
        left: 240px;
        background: #E7DEEA;
        border: 1px solid #BAACBF;
        resize: none;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 145px -62px rgba(92,83,92,0.81);
        
    }
    
    .margin {
        margin-left: 150px;
    }
    
    .letras {
        width: 205px;
        height: 18px;
        left: 24px;
        opacity: 80%;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding: 30px;
    }   
    
    .flex-center {
        justify-content: center;
        display: flex;
    }
    
    
    .boton-encriptar, .boton-desencriptar {
        width: 150px;
        padding: 10px;
        /*margin-left: 70px;*/
        font-size: 18px;
        font-weight: bold;
        color: #7E6687;
        background: #C4AECB;
        border: 1px solid #ABA1AF ;
        border-radius: 10px;
        cursor: pointer;
    
    }
    
    .boton-copiar {
        width: 150px;
        padding: 10px;
        /*margin-left: 430px;*/
        font-size: 18px;
        font-weight: bold;
        color: #7E6687;
        background: #CFC1D5;
        border: 1px solid #ABA1AF ;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .footer {
        margin: 50px 0 0 50px;
        padding: 80px 0 0 0;
        font-size: 10px;
        text-align: center;
    }
    
    .icono {
        max-width: 30px;
        max-height: 30px;
    }

   
}

